In [2]:
import pandas as pd

In [4]:
#Importando o dataset
tweets_0403 = pd.read_csv(r"C:\Users\Rogerio\Documents\HACKATHON TERA\Tweets\0403_preprocessado.csv", sep = ',', encoding = 'utf-8')

C:\Users\Rogerio\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#Mostrando a primeiras 5 linhas do dataset
tweets_0403.head()

,Unnamed: 0,Unnamed: 0.1,id,created_at,full_text,location,txt_letras,txt_acentos,txt_emoji_free,location_emoji_free,token
0,0,195,id,created_at,full_text,location,full_text,full_text,full_text,location,['full_text']
1,1,196,1246225970702548995,2020-04-03 23:59:59,O problema né nem o corona 😑 https://t.co/lBVr...,"Rj, Caxias, Conquista",o problema né nem o corona 😑 https tco lbvrrs...,o problema ne nem o corona https tco lbvrrsntoe,o problema ne nem o corona https tco lbvrrsntoe,"Rj, Caxias, Conquista","['problema', 'tco', 'lbvrrsntoe', 'corona', 'n..."
2,2,197,1246225970551558151,2020-04-03 23:59:59,@ancap_hell O mesmo Data Folha que em sua pesq...,Brasil,o mesmo data folha que em sua pesquisa disse ...,o mesmo data folha que em sua pesquisa disse ...,o mesmo data folha que em sua pesquisa disse ...,Brasil,"['haddad', 'sua', 'folha', 'pesquisa', 'disse'..."
3,3,198,1246225969918226434,2020-04-03 23:59:59,@_LittleWeasley a miley falando que quer dar u...,"Sao Paulo, Brazil",a miley falando que quer dar um rolê com ela ...,a miley falando que quer dar um role com ela ...,a miley falando que quer dar um role com ela ...,"Sao Paulo, Brazil","['falando', 'quarentena', 'com', 'dar', 'depoi..."
4,4,199,1246225969817493505,2020-04-03 23:59:59,Eu to muito cozinheira nessa quarentena,Rio de Janeiro,eu to muito cozinheira nessa quarentena,eu to muito cozinheira nessa quarentena,eu to muito cozinheira nessa quarentena,Rio de Janeiro,"['quarentena', 'to', 'eu', 'nessa', 'cozinheir..."

In [6]:
#Vendo a quantidade de linhas e colunas do dataset
tweets_0403.shape

(144004, 11)

In [44]:
#Criando lista de palavras relacionada à 'desemprego'
lista_desemprego = ["emprego", "demissão", "demissões", "desemprego", "desempregar", "desempregado", "desempregada", "desempregados", "desempregadas", "demitido", "demitida", "demitidos", "demitidas", "demitir", "afastar", "afastamento", "afastada", "afastado"]

In [45]:
#Chamando o construtor DataFrame na lista
df = pd.DataFrame(lista_desemprego, columns=['txt_emoji_free'])

In [46]:
#Aplicando consulta ao tweet
tweets_0403.txt_emoji_free.apply(lambda x: [palavra in x for palavra in lista_desemprego])

0         [False, False, False, False, False, False, Fal...
1         [False, False, False, False, False, False, Fal...
2         [False, False, False, False, False, False, Fal...
3         [False, False, False, False, False, False, Fal...
4         [False, False, False, False, False, False, Fal...
                                ...
143999    [False, False, False, False, False, False, Fal...
144000    [False, False, False, False, False, False, Fal...
144001    [False, False, False, False, False, False, Fal...
144002    [False, False, False, False, False, False, Fal...
144003    [False, False, False, False, False, False, Fal...
Name: txt_emoji_free, Length: 144004, dtype: object

In [47]:
tweets_0403.txt_emoji_free.apply

<bound method Series.apply of 0                                                 full_text
1         o problema ne nem o corona  https  tco lbvrrsntoe
2          o mesmo data folha que em sua pesquisa disse ...
3          a miley falando que quer dar um role com ela ...
4                   eu to muito cozinheira nessa quarentena
                                ...
143999    ynw melly foi contaminado pelo virus na prisao...
144000    o presidente russo afirmou que a arabia saudit...
144001    em novo ataque bolsonaro chama jornalistas de ...
144002    numero de recuperados do coronavirus salta par...
144003    vacina oral contra coronavirus desenvolvida po...
Name: txt_emoji_free, Length: 144004, dtype: object>

In [48]:
#Aplicando à uma coluna do dataset
tweets_0403['palavra_chave'] = tweets_0401.txt_emoji_free.apply(lambda x: [palavra in x for palavra in lista_desemprego])

In [49]:
tweets_0403.head()

,Unnamed: 0,Unnamed: 0.1,id,created_at,full_text,location,txt_letras,txt_acentos,txt_emoji_free,location_emoji_free,token,palavra_chave,sentimento_desemprego
0,0,195,id,created_at,full_text,location,full_text,full_text,full_text,location,['full_text'],"[False, False, False, False, False, False, Fal...",False
1,1,196,1246225970702548995,2020-04-03 23:59:59,O problema né nem o corona 😑 https://t.co/lBVr...,"Rj, Caxias, Conquista",o problema né nem o corona 😑 https tco lbvrrs...,o problema ne nem o corona https tco lbvrrsntoe,o problema ne nem o corona https tco lbvrrsntoe,"Rj, Caxias, Conquista","['problema', 'tco', 'lbvrrsntoe', 'corona', 'n...","[False, False, False, False, False, False, Fal...",False
2,2,197,1246225970551558151,2020-04-03 23:59:59,@ancap_hell O mesmo Data Folha que em sua pesq...,Brasil,o mesmo data folha que em sua pesquisa disse ...,o mesmo data folha que em sua pesquisa disse ...,o mesmo data folha que em sua pesquisa disse ...,Brasil,"['haddad', 'sua', 'folha', 'pesquisa', 'disse'...","[False, False, False, False, False, False, Fal...",False
3,3,198,1246225969918226434,2020-04-03 23:59:59,@_LittleWeasley a miley falando que quer dar u...,"Sao Paulo, Brazil",a miley falando que quer dar um rolê com ela ...,a miley falando que quer dar um role com ela ...,a miley falando que quer dar um role com ela ...,"Sao Paulo, Brazil","['falando', 'quarentena', 'com', 'dar', 'depoi...","[False, False, False, False, False, False, Fal...",False
4,4,199,1246225969817493505,2020-04-03 23:59:59,Eu to muito cozinheira nessa quarentena,Rio de Janeiro,eu to muito cozinheira nessa quarentena,eu to muito cozinheira nessa quarentena,eu to muito cozinheira nessa quarentena,Rio de Janeiro,"['quarentena', 'to', 'eu', 'nessa', 'cozinheir...","[False, False, False, False, False, False, Fal...",False

In [50]:
#Excluindo a primeira linha que está com o dados do cabeçalho
tweets_0403.drop(0)

,Unnamed: 0,Unnamed: 0.1,id,created_at,full_text,location,txt_letras,txt_acentos,txt_emoji_free,location_emoji_free,token,palavra_chave,sentimento_desemprego
1,1,196,1246225970702548995,2020-04-03 23:59:59,O problema né nem o corona 😑 https://t.co/lBVr...,"Rj, Caxias, Conquista",o problema né nem o corona 😑 https tco lbvrrs...,o problema ne nem o corona https tco lbvrrsntoe,o problema ne nem o corona https tco lbvrrsntoe,"Rj, Caxias, Conquista","['problema', 'tco', 'lbvrrsntoe', 'corona', 'n...","[False, False, False, False, False, False, Fal...",False
2,2,197,1246225970551558151,2020-04-03 23:59:59,@ancap_hell O mesmo Data Folha que em sua pesq...,Brasil,o mesmo data folha que em sua pesquisa disse ...,o mesmo data folha que em sua pesquisa disse ...,o mesmo data folha que em sua pesquisa disse ...,Brasil,"['haddad', 'sua', 'folha', 'pesquisa', 'disse'...","[False, False, False, False, False, False, Fal...",False
3,3,198,1246225969918226434,2020-04-03 23:59:59,@_LittleWeasley a miley falando que quer dar u...,"Sao Paulo, Brazil",a miley falando que quer dar um rolê com ela ...,a miley falando que quer dar um role com ela ...,a miley falando que quer dar um role com ela ...,"Sao Paulo, Brazil","['falando', 'quarentena', 'com', 'dar', 'depoi...","[False, False, False, False, False, False, Fal...",False
4,4,199,1246225969817493505,2020-04-03 23:59:59,Eu to muito cozinheira nessa quarentena,Rio de Janeiro,eu to muito cozinheira nessa quarentena,eu to muito cozinheira nessa quarentena,eu to muito cozinheira nessa quarentena,Rio de Janeiro,"['quarentena', 'to', 'eu', 'nessa', 'cozinheir...","[False, False, False, False, False, False, Fal...",False
5,5,200,1246225968651526145,2020-04-03 23:59:59,nem acredito que vou passar minha quarentena c...,"Pato Branco, Brasil",nem acredito que vou passar minha quarentena c...,nem acredito que vou passar minha quarentena c...,nem acredito que vou passar minha quarentena c...,"Pato Branco, Brasil","['vou', 'passar', 'quarentena', 'com', 'acredi...","[False, False, False, False, False, False, Fal...",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143999,143999,144194,1246150475323334657,2020-04-03 19:00:00,YNW Melly foi contaminado pelo vírus na prisão...,"São Paulo, Brasil",ynw melly foi contaminado pelo vírus na prisão...,ynw melly foi contaminado pelo virus na prisao...,ynw melly foi contaminado pelo virus na prisao...,"São Paulo, Brasil","['prisao', 'contaminado', 'aguarda', 'https', ...","[False, False, False, False, False, False, Fal...",False
144000,144000,144195,1246150475063255040,2020-04-03 19:00:00,O presidente russo afirmou que a Arábia Saudit...,"Belém, Pará, Brasil",o presidente russo afirmou que a arábia saudit...,o presidente russo afirmou que a arabia saudit...,o presidente russo afirmou que a arabia saudit...,"Belém, Pará, Brasil","['de', 'convencional', 'petroleo', 'nao', 'seu...","[False, False, False, False, False, False, Fal...",False
144001,144001,144196,1246150475017334790,2020-04-03 19:00:00,"Em novo ataque, Bolsonaro chama jornalistas de...","Brasília, Brasil",em novo ataque bolsonaro chama jornalistas de ...,em novo ataque bolsonaro chama jornalistas de ...,em novo ataque bolsonaro chama jornalistas de ...,"Brasília, Brasil","['de', 'tco', '3n7lwpg3wj', 'jornalistas', 'bo...","[False, False, False, False, False, False, Fal...",False
144002,144002,144197,1246150474954428419,2020-04-03 19:00:00,Número de recuperados do coronavírus salta par...,Porto Alegre,número de recuperados do coronavírus salta par...,numero de recuperados do coronavirus salta par...,numero de recuperados do coronavirus salta par...,Porto Alegre,"['via', 'de', 'porto', 'tco', 'para', 'recuper...","[False, False, False, False, False, False, Fal...",False
144003,144003,144198,1246150474752905217,2020-04-03 19:00:00,Vacina oral contra coronavírus desenvolvida po...,São Paulo - Brasil,vacina oral contra coronavírus desenvolvida po...,vacina oral contra coronavirus desenvolvida po...,vacina oral contra coronavirus desenvolvida po...,São Paulo - Brasil,"['nos', 'de', 'no', 'ja', 'por', 'isgtkrquyd',...","[False, False, False, False, False, False, Fal...",False

In [51]:
#Criando coluna com verdadeiro ou falso caso haja menção de palavras de desemprego no tweet
tweets_0403['sentimento_desemprego'] = tweets_0403.palavra_chave.apply(lambda x:max(x))

In [52]:
tweets_0403.head()

,Unnamed: 0,Unnamed: 0.1,id,created_at,full_text,location,txt_letras,txt_acentos,txt_emoji_free,location_emoji_free,token,palavra_chave,sentimento_desemprego
0,0,195,id,created_at,full_text,location,full_text,full_text,full_text,location,['full_text'],"[False, False, False, False, False, False, Fal...",False
1,1,196,1246225970702548995,2020-04-03 23:59:59,O problema né nem o corona 😑 https://t.co/lBVr...,"Rj, Caxias, Conquista",o problema né nem o corona 😑 https tco lbvrrs...,o problema ne nem o corona https tco lbvrrsntoe,o problema ne nem o corona https tco lbvrrsntoe,"Rj, Caxias, Conquista","['problema', 'tco', 'lbvrrsntoe', 'corona', 'n...","[False, False, False, False, False, False, Fal...",False
2,2,197,1246225970551558151,2020-04-03 23:59:59,@ancap_hell O mesmo Data Folha que em sua pesq...,Brasil,o mesmo data folha que em sua pesquisa disse ...,o mesmo data folha que em sua pesquisa disse ...,o mesmo data folha que em sua pesquisa disse ...,Brasil,"['haddad', 'sua', 'folha', 'pesquisa', 'disse'...","[False, False, False, False, False, False, Fal...",False
3,3,198,1246225969918226434,2020-04-03 23:59:59,@_LittleWeasley a miley falando que quer dar u...,"Sao Paulo, Brazil",a miley falando que quer dar um rolê com ela ...,a miley falando que quer dar um role com ela ...,a miley falando que quer dar um role com ela ...,"Sao Paulo, Brazil","['falando', 'quarentena', 'com', 'dar', 'depoi...","[False, False, False, False, False, False, Fal...",False
4,4,199,1246225969817493505,2020-04-03 23:59:59,Eu to muito cozinheira nessa quarentena,Rio de Janeiro,eu to muito cozinheira nessa quarentena,eu to muito cozinheira nessa quarentena,eu to muito cozinheira nessa quarentena,Rio de Janeiro,"['quarentena', 'to', 'eu', 'nessa', 'cozinheir...","[False, False, False, False, False, False, Fal...",False

In [53]:
#Mostrando quantidade de tweets que mencionam cada classificação 
tweets_0403.groupby('sentimento_desemprego').count()

,Unnamed: 0,Unnamed: 0.1,id,created_at,full_text,location,txt_letras,txt_acentos,txt_emoji_free,location_emoji_free,token,palavra_chave
sentimento_desemprego,,,,,,,,,,,,
False,143092,143092,143092,143092,143092,97234,143092,143092,143092,96912,143092,143092
True,912,912,912,912,912,629,912,912,912,625,912,912

In [54]:
#Mostrando quantidade de tweets que mencionam cada classificação 
tweets_0403.groupby('sentimento_desemprego').size()

sentimento_desemprego
False    143092
True        912
dtype: int64

In [55]:
#Mostrando quantidade de tweets que mencionam cada classificação 
tweets_0403['sentimento_desemprego'].value_counts(True)

False    0.993667
True     0.006333
Name: sentimento_desemprego, dtype: float64

In [56]:
#conversão da coluna 'sentimento_desemprego' em uma lista
lista_desemprego = tweets_0403['sentimento_desemprego'].tolist()

In [57]:
#Quantidade de tweets que mencionam desemprego
tweets_Desemprego = sum(lista_desemprego)
print(tweets_Desemprego)

912

In [58]:
#Quantidade total de tweets
tweets_totais = len(tweets_0403.index)
print(tweets_totais)

144004

In [59]:
#Calculando o percentual de tweets relacionados à desemprego
percentual_desemprego=(tweets_Desemprego/tweets_totais) * 100
print('O percentual de tweets que mencionam desemprego dia 03 de abril é {:.4f}'.format(percentual_desemprego))

O percentual de tweets que mencionam desemprego dia 03 de abril é 0.6333

In [60]:
#Filtrando tweets selecionados na análise
tweets_0403.loc[(tweets_0403['sentimento_desemprego'] == 1)]

,Unnamed: 0,Unnamed: 0.1,id,created_at,full_text,location,txt_letras,txt_acentos,txt_emoji_free,location_emoji_free,token,palavra_chave,sentimento_desemprego
18,18,213,1246225963043762177,2020-04-03 23:59:58,"to mt linda pra estar em casa, corona virus te...",NaN,to mt linda pra estar em casa corona virus tem...,to mt linda pra estar em casa corona virus tem...,to mt linda pra estar em casa corona virus tem...,NaN,"['pra', 'estar', 'mt', 'corona', 'sair', 'lind...","[True, False, False, False, False, False, Fals...",True
432,432,627,1246225756788752386,2020-04-03 23:59:08,@maaipauletti @BabiiFogaca Eu só deixei uma ún...,NaN,eu só deixei uma única tarefa ler um livro d...,eu so deixei uma unica tarefa ler um livro d...,eu so deixei uma unica tarefa ler um livro d...,NaN,"['pra', 'vou', 'virtual', 'de', 'periodo', 'qu...","[True, False, False, True, False, False, False...",True
471,471,666,1246225734491934720,2020-04-03 23:59:03,@goldylopes Es ka tn nd fz nes quarentena es c...,"Praia, Cape Verde",es ka tn nd fz nes quarentena es cre cansa al...,es ka tn nd fz nes quarentena es cre cansa al...,es ka tn nd fz nes quarentena es cre cansa al...,"Praia, Cape Verde","['cre', 'quarentena', 'es', 'nd', 'ka', 'fz', ...","[False, False, False, False, False, False, Fal...",True
556,556,751,1246225691730903040,2020-04-03 23:58:53,@carmelonetobr Sempre com um sorrisão nos olho...,Brazil,sempre com um sorrisão nos olhos achando graç...,sempre com um sorrisao nos olhos achando grac...,sempre com um sorrisao nos olhos achando grac...,Brazil,"['nos', 'de', 'sim', 'cobrar', 'discurso', 'pr...","[False, False, False, False, False, True, Fals...",True
675,675,870,1246225624273952768,2020-04-03 23:58:37,@JuliaMe75489206 @CarlosBolsonaro Isso é armad...,São Paulo Guarulhos,isso é armadilha porque eles não conseguem t...,isso e armadilha porque eles nao conseguem t...,isso e armadilha porque eles nao conseguem t...,São Paulo Guarulhos,"['uma', 'isso', 'pronta', 'ele', 'tem', 'nao',...","[True, False, False, False, False, False, Fals...",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143239,143239,143434,1246150862814273536,2020-04-03 19:01:32,Nessa quarentena eu estou com uma preguiça que...,"Itaguaí, Brasil",nessa quarentena eu estou com uma preguiça que...,nessa quarentena eu estou com uma preguica que...,nessa quarentena eu estou com uma preguica que...,"Itaguaí, Brasil","['quarentena', 'tive', 'estou', 'com', 'nunca'...","[True, False, False, True, False, False, False...",True
143429,143429,143624,1246150757386199040,2020-04-03 19:01:07,Interessante passatempo para os torcedores do ...,São Paulo/ SP,interessante passatempo para os torcedores do ...,interessante passatempo para os torcedores do ...,interessante passatempo para os torcedores do ...,São Paulo/ SP,"['torcedores', 'negro', 'de', 'acertei', 'quar...","[False, False, False, False, False, False, Tru...",True
143588,143588,143783,1246150671738568705,2020-04-03 19:00:47,@oatila Átila parabéns pela sua maneira bastan...,NaN,átila parabéns pela sua maneira bastante didá...,atila parabens pela sua maneira bastante dida...,atila parabens pela sua maneira bastante dida...,NaN,"['atila', 'bastante', 'nos', 'sua', 'pela', 'd...","[True, False, False, False, False, False, True...",True
143608,143608,143803,1246150659231096832,2020-04-03 19:00:44,"Capitalismo me tentando nessa quarentena, apar...","Itaquera, São Paulo",capitalismo me tentando nessa quarentena apare...,capitalismo me tentando nessa quarentena apare...,capitalismo me tentando nessa quarentena apare...,"Itaquera, São Paulo","['quarentena', 'de', 'me', 'achei', 'nessa', '...","[True, False, False, False, False, False, Fals...",True
143760,143760,143955,1246150584056582154,2020-04-03 19:00:26,Meu marido vendo tv na quarentena: imitando os...,"Rio de Janeiro, Brasil",meu marido vendo tv na quarentena imitando os ...,meu marido vendo tv na quarentena imitando os ...,meu marido vendo tv na quarentena imitando os ...,"Rio de Janeiro, Brasil","['meu', 'quarentena', 'imitando', 'de', 'sexta...","[False, False, False, False, False, False, Fal...",True